html, body, .container, .row {
  height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 50px;
}

.container {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.col-md-4 {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  float: none;
}